@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dad8d8;
}

.App {
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 49vh;
  margin-left: -20px;
}

.home-logged-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.MuiCard-root {
  width: 500px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transform: translateX(0);
  transition: transform 0.4s ease;
}

.MuiCard-root.show-answer .inner {
  transform: rotateX(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: inherit;
  cursor: pointer;
}

.front {
  transform: rotateX(0deg);
  z-index: 2;
}

.back {
  transform: rotateX(180deg);
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.creation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.multi-card-dnd {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 16px 8px;
  justify-items: center;
  width: 75vw;
}

.single-card-view, .multi-card-view, .multi-card-dnd {
  margin-top: 5vh;
}

@media screen and (max-width: 500px) {
  .MuiCard-root {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .multi-card-dnd {
    width: 100vw;
  }
}